--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: backtest_jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.backtest_jobs (id, event_name, status, start_time, end_time, created_at, error_log, progress_pct, progress_note) FROM stdin;
1	red_sea_attacks	completed	2026-07-07 14:27:17.668387+05:30	2026-07-07 15:00:34.303203+05:30	2026-07-05 17:22:07.692872+05:30	\N	0	\N
2	red_sea_attacks	completed	2026-07-07 16:26:32.020366+05:30	2026-07-07 16:26:32.279088+05:30	2026-07-07 16:26:22.071986+05:30	\N	0	\N
\.


--
-- Data for Name: market_prices; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: risk_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: risk_events_backtest; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vessel_type_registry; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: backtest_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.backtest_jobs_id_seq', 2, true);


--
-- Name: market_prices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.market_prices_id_seq', 13717, true);


--
-- Name: news_cache_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.news_cache_id_seq', 800, true);


--
-- Name: risk_events_backtest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.risk_events_backtest_id_seq', 80, true);


--
-- Name: risk_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.risk_events_id_seq', 23, true);


--
-- Name: vessel_telemetry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vessel_telemetry_id_seq', 7954, true);


--
-- PostgreSQL database dump complete
--

